a {
  text-decoration: none;
  color: black;
}

#sct1Contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#sct1Contact img {
  height: 40px;
  width: 40px;
  position: relative;
}
#sct1Contact img:nth-child(1) {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  width: 300px;
}
#sct1Contact h2, #sct1Contact p, #sct1Contact a {
  position: relative;
}
#sct1Contact a {
  font-size: 1.3rem;
  color: rgb(84, 84, 84);
}

#img5Contact1 {
  width: 306px !important;
  height: auto !important;
}

#ctnGen1Contact1 {
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

#sct2Contact {
  height: 150vh;
  background-color: #E9E9E9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ctn1Sct2Contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

#ssctn1Sct2Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  margin-left: 100px;
}
#ssctn1Sct2Contact h2 {
  font-size: 2rem;
}
#ssctn1Sct2Contact p {
  font-size: 1.5rem;
}
#ssctn1Sct2Contact p:nth-child(1) {
  font-size: 1.5rem;
}

form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 4%;
}
form input {
  font-size: 1.3rem;
  border-style: none;
  width: 60%;
  color: rgb(94, 94, 94);
}
form button {
  width: 40%;
  border: 2px solid #B48F6D;
  font-size: 1.4rem;
}
form input:nth-child(5) {
  width: 70%;
}
form select {
  width: 70%;
  font-family: "montserrat", sans-serif;
  font-size: 1.3rem;
  border-style: none;
  background-color: white;
  color: rgb(94, 94, 94);
}

#ssctn1Sct2Contact p:nth-child(2) {
  font-weight: 600;
}

@media (max-width: 700px) {
  #sct1Contact {
    width: 80%;
    text-align: center;
    margin: auto;
    gap: 3%;
  }
  #sct2Contact {
    height: 200vh;
  }
  #ctn1Sct2Contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #ssctn1Sct2Contact {
    margin-left: 20px;
  }
  #ssctn1Sct2Contact h2 {
    font-size: 2rem;
  }
  #ssctn1Sct2Contact p {
    font-size: 1.5rem;
    width: 90%;
    margin: auto;
  }
  #ssctn1Sct2Contact p:nth-child(1) {
    font-size: 1.5rem;
  }
  #ctn1Sct2Contact {
    height: 150vh;
  }
  form {
    padding: 0px 0px 0px 25px;
  }
  input {
    font-size: 1.3rem;
    width: 70% !important;
  }
  button {
    width: 40%;
    font-size: 1.4rem;
  }
  input:nth-child(5) {
    width: 80% !important;
  }
  select {
    width: 80% !important;
    font-size: 1.3rem;
  }
}
#ctn2Sct2Contact {
  width: 100%;
  height: 50vh;
}
#ctn2Sct2Contact iframe {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=contact.css.map */
