a{
    text-decoration: none;
    color: black;
}
#sct1Contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5%;
    img{
        height: 40px;
        width: 40px;
        position: relative;
    }
    img:nth-child(1){
        position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    width: 300px;
    }
    h2,p,a{
        position: relative;
    }
    a{
        font-size: 1.3rem;
        color: rgb(84, 84, 84);
    }
}
#img5Contact1{
    width: 306px!important;
    height: auto!important;
}
#ctnGen1Contact1{
    display: grid;
    grid-template-columns: 35% 30% 35%;
}
//section2

#sct2Contact{
    height: 150vh;
    background-color: #E9E9E9 ;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#ctn1Sct2Contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
#ssctn1Sct2Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    margin-left: 100px;
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
    p:nth-child(1){
        font-size: 1.5rem;
    }
}
form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 4%;
    input{
        font-size: 1.3rem;
        border-style: none;
        width: 60%;
        color: rgb(94, 94, 94);
    }
    button{
        width: 40%;
        border: 2px solid #B48F6D;
        font-size: 1.4rem;
    }
    input:nth-child(5){
        width: 70%;
    }
    select{
        width: 70%;
        font-family: 'montserrat', sans-serif;
        font-size: 1.3rem;
        border-style: none;
        background-color: white;
        color: rgb(94, 94, 94);
    }
}

#ssctn1Sct2Contact{
    p:nth-child(2){
        font-weight: 600;
     }
}

@media (max-width:700px) {
    #sct1Contact{
        width: 80%;
        text-align: center;
        margin: auto;
        gap: 3%;
    }
    #sct2Contact{
        height: 200vh;
    }
#ctn1Sct2Contact{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
#ssctn1Sct2Contact{
    margin-left: 20px;
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
        width: 90%;
        margin: auto;
    }
    p:nth-child(1){
        font-size: 1.5rem;
    }
}
#ctn1Sct2Contact {
    height: 150vh;
}
form{
    padding: 0px 0px 0px 25px;
}
input{
    font-size: 1.3rem;
    width: 70%!important;
}
button{
    width: 40%;

    font-size: 1.4rem;
}
input:nth-child(5){
    width: 80%!important;
}
select{
   width: 80%!important;
    font-size: 1.3rem;

}
}

#ctn2Sct2Contact{
    width: 100%;
    height: 50vh;
    iframe{
        width: 100%;
        height:100%;
    }
}