

#sct1Histoire{
    height: 100vh;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    h1,p{
        position: relative;
        margin-left: 8%;
    }
    display: flex;
    flex-direction: column;
   justify-content: center;
   h1{
    color: white;
    font-size: 3rem;
   }
   p:nth-child(3){
  color: rgb(194, 194, 194);
  font-size: 1.5rem;
  width: 80%;
  margin-top: 15px;
   }
   p:nth-child(4){
    margin-bottom: 30vh;
    font-size: 1.5rem;
    color: white;
    width: 70%;
   }
}
#ctnGen1HistoireSct2,#ctnGen2HistoireSct2{
    height: 40vh;
    display: grid;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 2rem;
        }
        p{
            width: 80%;
            margin:0 auto;
          text-align: center;
          font-size: 1.3rem;
        }
    }
}
#ctnGen1HistoireSct2{
    grid-template-columns: 40% 60%;
    margin-bottom: 50px;
}
#ctnGen2HistoireSct2{
    grid-template-columns: 60% 40%;
}

@media (max-width:700px) {
    #ctnGen1HistoireSct2, #ctnGen2HistoireSct2 {
        height: 80vh;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        h2{
            text-align: center;
        }
        img{
            width: 330px;
            margin: 0 auto;
        }
        p{
            width: 80%!important;
            margin: 0 auto!important;
        }
        div{
            align-items: start;
        }
    }
    #sct1Histoire{
        h1{
            margin-top: 70px;
        }
    }
    #ctn1LeftHistoireSct2, #ctn2LeftHistoireSct2{
        justify-content: end!important;
    }
    #ctn3RightHistoireSct2, #ctn1RightHistoireSct2{
        justify-content: start!important;
    }

}