#sct1Histoire {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sct1Histoire img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#sct1Histoire h1, #sct1Histoire p {
  position: relative;
  margin-left: 8%;
}
#sct1Histoire h1 {
  color: white;
  font-size: 3rem;
}
#sct1Histoire p:nth-child(3) {
  color: rgb(194, 194, 194);
  font-size: 1.5rem;
  width: 80%;
  margin-top: 15px;
}
#sct1Histoire p:nth-child(4) {
  margin-bottom: 30vh;
  font-size: 1.5rem;
  color: white;
  width: 70%;
}

#ctnGen1HistoireSct2, #ctnGen2HistoireSct2 {
  height: 40vh;
  display: grid;
}
#ctnGen1HistoireSct2 div, #ctnGen2HistoireSct2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ctnGen1HistoireSct2 div h2, #ctnGen2HistoireSct2 div h2 {
  font-size: 2rem;
}
#ctnGen1HistoireSct2 div p, #ctnGen2HistoireSct2 div p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}

#ctnGen1HistoireSct2 {
  grid-template-columns: 40% 60%;
  margin-bottom: 50px;
}

#ctnGen2HistoireSct2 {
  grid-template-columns: 60% 40%;
}

@media (max-width: 700px) {
  #ctnGen1HistoireSct2, #ctnGen2HistoireSct2 {
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }
  #ctnGen1HistoireSct2 h2, #ctnGen2HistoireSct2 h2 {
    text-align: center;
  }
  #ctnGen1HistoireSct2 img, #ctnGen2HistoireSct2 img {
    width: 330px;
    margin: 0 auto;
  }
  #ctnGen1HistoireSct2 p, #ctnGen2HistoireSct2 p {
    width: 80% !important;
    margin: 0 auto !important;
  }
  #ctnGen1HistoireSct2 div, #ctnGen2HistoireSct2 div {
    align-items: start;
  }
  #sct1Histoire h1 {
    margin-top: 70px;
  }
  #ctn1LeftHistoireSct2, #ctn2LeftHistoireSct2 {
    justify-content: end !important;
  }
  #ctn3RightHistoireSct2, #ctn1RightHistoireSct2 {
    justify-content: start !important;
  }
}

/*# sourceMappingURL=histoire.css.map */
