// @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@600;800&display=swap');

// body {
//     margin: 0;
//     padding: 0;
//     background-color: #E2E2E2;
// }

// a {
//     color: black;
//     text-decoration: none;
//     text-transform: none;
//     font-family: 'montserrat', sans-serif;
// }

// Bouton peinture
// .btnPeinture {
//     cursor: pointer;
//     position: absolute;
//     top: 50px;
//     background-color: transparent;
//     border: 0px;
//     border-style: none;
//     font-size: 1.5rem;
//     color: white;

// }
// #itemIndex2_4{
//     button{
//         padding: 0 0 10px 10px;
//     }
// }
// #ssCtnRightIndex5{
//     div{
//         position: relative;
//         img{
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//         }
//     }
// }
// #itemIndex2_4{
//     position: relative;
//     img{
//         top: 20px;
//     }
// }
// p,
// h1,
// h2 {
//     font-family: 'monstserrat', sans-serif;
// }


// .colorBr {
//     color: #B48F6D;
// }

// #fond1Index1 {
//     width: 100%;
//     height: 100vh;
//     position: absolute;
// }

// #sctIndex1 {
//     width: 100%;
//     height: 100vh;

//     h1 {
//         font-size: 4rem;
//         color: white;
//         margin: 0;
//     }

//     button {
//         width: 25%;
//         height: 5vh;
//         font-size: 1.5rem;
//         background-color: transparent;
//         color: white;
//         border: 3px solid #B48F6D;
//         font-family: 'montserrat', sans-serif;
//         font-weight: 600;
//         margin: 0;
//         cursor: pointer;
//     }

// }

// .p1Index1 {
//     font-size: 2rem;
//     color: white;
//     text-align: center;
//     font-family: 'montserrat', sans-serif;
//     font-weight: 600;
//     margin: 0;
// }

// #ctnGblobIndex1 {
//     width: 100%;
//     height: 100%;
//     display: grid;
//     grid-template-columns: 15% 70% 15%;
//     position: relative;
//     z-index: 5;
// }

// #ctnIndex1_1 {
//     height: 100%;
// }

// #ctnIndex1_1,
// #ctnIndex1_3 {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// #itemLeftIndex1 {
//     width: 50px;
//     height: 50px;
//     border-top: 5px solid #B48F6D;
//     border-right: 5px solid #B48F6D;
//     transform: rotate(225deg);
// }

// #itemRightIndex1 {
//     width: 50px;
//     height: 50px;
//     border-top: 5px solid #B48F6D;
//     border-right: 5px solid #B48F6D;
//     transform: rotate(45deg);
// }

// #ctnIndex1_2 {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

// #ctnCenterIndex1Deskp {
//     height: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-evenly;
// }

// #ctnCenterIndex1Mob {
//     display: none;
// }

// @media (max-width:700px) {
//     #ctnCenterIndex1Deskp {
//         display: none;
//     }

//     #ctnCenterIndex1Mob {
//         display: block;
//     }

//     .itemSsCtn2IndexMob {
//         display: flex;
//         align-items: center;
//         height: 50px;
//     }

//     #sctIndex1 {
//         h2 {
//             font-family: 'montserrat';
//             color: white;
//             font-size: 2.2rem;
//         }

//         button {
//             width: 260px;
//             height: 8vh;
//             margin: auto;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }
//     }

//     .itemSsCtn2IndexMob {
//         img {
//             width: 40px;
//             height: 40px;
//             margin-right: 20px;
//         }

//         P {
//             color: white;
//             font-size: 1.8rem;
//         }
//     }

//     #ssCtn1Index1Mob {
//         margin-bottom: 50px;
//     }

//     #ssCtn2Index1Mob {
//         height: 20vh;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         margin-bottom: 40px;
//     }

//     #ctnIndex1_1,
//     #ctnIndex1_3 {
//         display: none;
//     }

//     #ctnIndex1_2 {
//         width: 80%;
//         margin: auto;
//     }

//     #ctnGblobIndex1 {
//         grid-template-columns: 1fr;

//     }
// }

// section 2

// #sctIndex2 {
//     height: 100vh;
//     display: flex;
// }

// #ctnGblobIndex2 {
//     display: grid;
//     grid-template-columns: 50% 50%;
// }

// #ctnIndex2_1 {
//     display: flex;
//     align-items: center;
//     justify-items: center;
//     justify-content: center;

//     img {
//         box-shadow: -35px 35px 2px 1px black;
//     }
// }

// #ctnIndex2_2 {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     gap: 2%;
// }

// #itemIndex2_1 {
//     display: flex;
//     align-items: center;

//     p {
//         font-size: 2.5rem;
//         font-weight: 800;
//     }

//     img {
//         height: 40px;
//     }
// }

// #itemIndex2_2 {
//     font-size: 1.5rem;
//     color: rgb(114, 114, 114);
// }

// #itemIndex2_3 {
//     font-size: 1.5rem;
// }

// #ctnIndex3_2 {
//     div {
//         p {}
//     }
// }


// #itemIndex2_4 {
//     height: 4.2vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img {
//         position: absolute;
//     }
// }

// @media (max-width:700px) {
//     #ctnGblobIndex2 {
//         grid-template-columns: 1fr;
//         grid-template-rows: 40% 60%;
//     }

//     #ctnIndex2_1 {
//         img {
//             width: 90%;
//             box-shadow: -5px 5px 2px 1px black
//         }
//     }

//     #ctnIndex2_2 {
//         width: 90%;
//         margin: auto;
//         height: 100%;
//         justify-content: start;
//     }

//     #itemIndex2_1 {
//         p {
//             font-size: 1.5rem;
//         }
//     }
// }

// section 3
// #sctIndex3 {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: end;
//     gap: 5%;
// }

// .ctnTitreIndex {
//     display: flex;
//     align-items: end;
//     position: relative;
//     padding: 50px 0px 0px 30px;

//     p {
//         color: white;
//         font-size: 2.5rem;
//         margin: 0;
//     }
// }

// #fondPage3 {
//     position: absolute;
//     width: 100%;
//     height: 100%;
// }

// #ctnIndex3_1,
// #ctnIndex3_2,
// #ctnIndex3_3 {
//     position: relative;
// }

// #ctnIndex3_2 {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;

//     div {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
// }

// .ssIndex3_1 {
//     width: 100px;
//     height: 100px;

//     img {
//         width: 100px;
//         height: 100px;
//     }
// }

// .ctnBtnPeint {
//     display: flex;
//     height: 20vh;
//     justify-content: center;
//     align-items: center;

//     >img {
//         position: absolute;
//     }
// }

// #ssIndex6_1 {
//     +p {
//         color: rgb(0, 0, 0);
//     }
// }

// .p2Index3,
// .p4Index3,
// .p6Index3 {
//     font-size: 2rem;
//     color: rgb(167, 167, 167);
//     font-weight: 800;
// }

// .p3Index3,
// .p5Index3,
// .p7Index3 {
//     font-size: 1.2rem;
//     color: rgb(255, 255, 255);
//     width: 80%;
//     margin: auto;
//     text-align: center;
// }

// .p8Index3 {
//     color: white;
//     font-size: 1.4rem;
//     width: 60%;
//     text-align: center;
//     margin: 35px auto;
//     font-weight: 800;
// }

// media
// @media (max-width:700px) {
//     .p4Index3 {
//         text-align: center;
//     }

//     #sctIndex3 {
//         height: 200vh;
//     }

//     #ctnIndex3_2 {
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr 1fr 1fr;
//         margin-bottom: 100px;
//     }


//     #ctnIndex3_3 {
//         display: none;
//     }

//     #fondPage3 {
//         height: 170vh;
//     }

//     .ctnTitreIndex p {
//         font-size: 2rem;
//     }

//     .ctnTitreIndex {
//         align-items: center;
//         padding: 30px 0px 30px 30px;

//     }

//     #ssCtnRightIndex5 p:nth-child(1) {
//         font-size: 1.5rem !important;
//         width: 80%;
//         margin: 30px auto;
//     }
// }

// section 4
// #sctIndex4 {
//     height: 30vh;
// }

// #ctnGenIndexQct4 {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     height: 100%;
// }

// .ssCtnIndex4 {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     p:nth-child(1) {
//         font-size: 5rem;
//     }

//     p {
//         font-size: 3rem;
//         margin: 0;
//         display: flex;
//     }
// }
// .classAnimIndexPlus{
//     animation: animationIndexPlus 6s infinite ease-in;
// }
// @keyframes animationIndexPlus{
//     0%{
//        transform: rotate(0deg);
//     }
//     15%{
//         transform: rotate(360deg);
//     }
//     30%{
//         transform: rotate(30deg);
//     }
//     45%{
//         transform: rotate(-30deg);
//     }
//     60%{
//         transform: rotate(0deg);
//     }
// }

// @media (max-width:700px) {
//     #sctIndex4 {
//         height: 90vh;
//     }

//     #ctnGenIndexQct4 {
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr 1fr 1fr;
//     }

//     .ssCtnIndex4 p {
//         font-size: 2rem;
//         margin: 0;
//     }
// }

// section 5
// #sctIndex5 {
//     height: 100vh;

//     >img {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//     }
// }

// #ctnGenIndex5 {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     position: relative;
//     height: 60%;
//     align-items: center;
// }

// #ssCtnLeftIndex5 {
//     display: flex;
//     justify-content: center;
// }

// #ssCtnRightIndex5 {
//     p {
//         color: white;
//         text-align: center;
//     }

//     p:nth-child(1) {
//         font-weight: 800;
//         font-size: 1.8rem;
//     }

//     p:nth-child(2) {
//         font-weight: 500;
//         font-size: 1.3rem;
//         width: 80%;
//         margin: auto;
//     }

//     div {
//         height: 10vh !important;
//     }
// }

// @media (max-width:700px) {
//     #sctIndex5 {
//         height: 120vh;

//         >img {
//             height: 120vh;
//         }
//     }

//     #ctnGenIndex5 {
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr 1fr;
//         margin-top: 30px;
//     }

//     #ssCtnLeftIndex5 {
//         img {
//             width: 80%;
//         }
//     }
// }

// section 6
// #sctIndex6 {
//     height: 100vh;

// }

// #ctnGenIndex6 {
//     display: grid;
//     grid-template-columns: 45% 55%;
//     height: 100vh;
//     position: relative;
// }

// #ssCtn1Index6,
// #ssCtn2Index6 {
//     display: flex;
//     align-items: center;
// }

// #ssSSctn1Index6 {
//     height: 40vh;
//     width: 100%;
//     transform: translateX(250px);
//     position: relative;
//     background-color: white;
//     padding: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//     img {
//         width: 90%;
//         margin: auto;
//     }

//     p:nth-child(1) {
//         font-size: 1.2rem;
//         margin: 10px 0px;
//     }

//     p:nth-child(2) {
//         font-size: 1.5rem;
//         font-weight: 800;
//         margin: 10px 0px;
//     }

//     p:nth-child(4) {
//         font-size: 1.1rem;
//         color: #666666;
//     }

//     p:nth-child(5) {
//         font-size: 1.2rem;
//     }
// }

// #ctnSpanIndex6 {
//     display: flex;
//     justify-content: center;
// }

// #fondIndex6_1 {
//     position: absolute;
//     width: 100%;
//     height: 100%;
// }

// @media (max-width:700px) {
//     #ctnGenIndex6 {
//         grid-template-columns: 1fr;
//         grid-template-rows: 50% 50%;
//     }

//     #ssCtn1Index6 {
//         grid-row: 2/3;
//     }

//     #ssSSctn1Index6 {
//         transform: translateX(0px);
//         width: 100%;
//     }

//     #ssCtn2Index6 {
//         justify-content: center;
//     }

//     #fondIndex6_2 {
//         position: absolute;
//         width: auto;
//         height: auto;
//         margin: auto;
//         width: 80%;
//         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
//     }

//     #sctIndex6 {
//         height: 120vh;
//     }
// }

// section 7

// .ctn2Index7 {
//     height: 70vh;
//     position: relative;

//     button {
//         display: none;
//     }
// }


// .ssCtnIndex7 {
//     position: relative;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     z-index: 5;

//     p {
//         color: white;
//         text-align: center;
//         font-weight: 800;
//         font-size: 2.5rem;
//     }

// }

// .ctn3Index7 {
//     height: 50vh;

//     #rtest {
//         transform: translateY(-90%);
//     }

//     .ssCtnIndex7 {
//         transform: translateY(18%);
//     }
// }

// .ctnGen1Index7 {
//     position: relative;
//     z-index: 5;
//     height: 30vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     img {
//         width: 60px;
//         height: 60px;
//     }

//     p {
//         margin-top: 10px;
//         font-size: 2rem;
//         font-weight: 800;
//     }

// }

// .ssSsCtnIndex71_1 {
//     width: 100%;
//     height: 30vh;
// }

// #rtest {
//     width: 100%;
//     height: 40vh;
//     position: relative;
//     z-index: 10;
//     transform: translateY(-400px);
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     span {
//         font-size: 2rem;
//         margin-top: 2px;
//         transform: translateY(10px);
//     }
// }

// .imgIndex7Ctn1_1 {
//     transition: 1s;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     z-index: 2;
//     display: block;
// }

// .imgIndex7Ctn1_2 {
//     display: none;
//     transition: 1s;
// }

// #rtest:hover {
//     +.imgIndex7Ctn1_1 {
//         transition: 1s;
//         display: none;
//     }

//     ~.imgIndex7Ctn1_2 {
//         transition: 1s;
//         display: block;
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         z-index: 2;
//     }

//     button {
//         display: block;
//         margin-top: 150px;
//         width: 20%;
//         height: 6vh;
//         font-size: 1.5rem;
//         background-color: transparent;
//         color: white;
//         border: 3px solid #B48F6D;
//         font-family: 'montserrat', sans-serif;
//         font-weight: 600;
//         cursor: pointer;

//     }
// }


// @media (max-width:700px) {
//     .ctn2Index7_1 {
//         height: 120vh;

//         button {
//             background-color: transparent;
//             border: 2px solid #B48F6D;
//             color: black;
//             font-size: 1.2rem;
//             margin: auto;
//             height: 6vh;
//             width: 80%;
//             position: relative;
//             z-index: 100;
//         }
//     }

//     .ctn2Index7 {
//         height: 100vh;
//         display: grid;
//         grid-template-rows: 15% 65% 20%;
//     }

//     .ctn3Index7 {
//         grid-template-rows: 40% 70% !important;
//     }

//     .ctn3Index7 {
//         height: 80vh !important;
//         display: grid;
//         grid-template-rows: 50% 50%;
//     }

//     #rtest {
//         display: none;
//     }

//     .ssCtnIndex7 {
//         p {
//             margin-top: 90px;
//         }
//     }

//     .ssCtnIndex7 {
//         display: none;
//     }

//     .ctnGen1Index7Mob {
//         position: relative;
//         z-index: 100;
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         p {
//             font-size: 1.6rem;
//             text-align: center;
//         }

//         img {
//             transform: translateX(0px) translateY(-45px);
//             width: 90%;
//         }
//     }

//     .ctn2Index7 {
//         button {
//             display: block;
//             background-color: transparent;
//             border: 2px solid #B48F6D;
//             color: black;
//             font-size: 1.2rem;
//             margin: auto;
//             height: 6vh;
//             width: 80%;
//             position: relative;
//             z-index: 100;
//         }
//     }

//     .ctn3Index7 {
//         >img {
//             height: auto;
//         }
//     }

//     .imgIndex7Ctn1_1 {
//         top: 8%;
//     }
// }

// @media (max-width:500px) {
//     .ctn2Index7 {
//         grid-template-rows: 15% 55% 30%;
//     }
// }

// @media (max-width:400px) {
//     .ctn2Index7 {
//         grid-template-rows: 15% 35% 50%;
//     }
// }

// section 8
// #ctnGen1Index8 {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 20px;
// }

// #ctnGen2Index8 {
//     display: grid;
//     grid-template-columns: 30% 40% 30%;

//     div {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

// #ssCtnGenIndex8_2 {
//     p {
//         font-size: 2rem;
//         font-weight: 800;
//     }
// }

// #ssCtnGenIndex8_1,
// #ssCtnGenIndex8_3 {
//     img {
//         height: 60px;
//     }
// }

// #ctnGen3Index8 {
//     display: grid;
//     grid-template-columns: 60% 40%;
//     grid-template-rows: 1fr 1fr;
// }

// #item3Ctn3Index8 {
//     grid-column: 1/3;
//     grid-row: 2/3;
// }

// #ctnGen4Index8 {

//     display: grid;
//     grid-template-columns: 100%;
// }

// #ctnGen3Index8 {
//     height: 80vh;
//     grid-template-rows: 50% 50%;

//     div {
//         border: 1px solid black;
//     }

//     margin: 0px 50px;
// }

// #ctnGen5Index8 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 10vh;

//     svg {
//         margin: auto;
//         width: 80%;
//         height: 5px;
//     }
// }

// #ctnGen6Index8 {
//     a {
//         font-size: 1.8rem;
//         margin-left: 5%;
//     }
// }

// #ctnItem1Ctn3Index8 {
//     display: none;
// }

// @media (max-width:700px) {

//     #ctnGen3Index8,
//     #ctnGen4Index8 {
//         grid-template-rows: 33% 33% 33%;
//         grid-template-columns: 1fr;
//     }

//     #ctnGen3Index8 {
//         height: 170vh;
//         margin: 0 20px;
//     }

//     #ctnItem1Ctn3Index8 {
//         img {
//             width: 80%;
//         }
//     }

//     #ctnGen6Index8 a {
//         font-size: 1.3rem;
//     }

//     #ctnGen3Index8 div,
//     #ctnGen4Index8 div {
//         border: 0px;

//         img {
//             width: 100%;
//         }

//         #iconeIndex8 {
//             transform: translateX(-2%) translateY(-100%);
//         }
//     }

//     #ctnItem1Ctn3Index8 {
//         p {
//             font-size: 1.4rem;
//         }
//     }

//     #ctnItem1Ctn3Index8 {
//         display: block;
//     }

//     #item3Ctn3Index8 {
//         grid-column: auto;
//     }
// }

// @media (max-width:500px) {}

// @media (max-width:700px) and (max-height:700px) {}

// section 9
// #sctIndex9 {
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// #ctnGenIndex9 {
//     width: 70%;
//     height: 50vh;
//     margin: auto;
//     display: grid;
//     grid-template-columns: 25% 50% 25%;
// }

// .btnAvis {
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     background-color: #B48F6D;
//     border-style: none;
//     color: white;
//     font-size: 2.9rem;
//     cursor: pointer;
// }

// #ctnLeftIndex9,
// #ctnRightIndex9 {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// #ctnCenterIndex9 {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;

//     p {
//         position: relative;
//         z-index: 10;
//     }

//     #paraJsAvis {
//         font-size: 1.5rem;
//         text-align: center;
//     }

//     #nomJsAvis {
//         font-size: 1.8rem;
//         font-weight: 800;
//     }

// }

// #imgAvisIndex {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 2;
// }

// @media (max-width:500px) {
//     #ctnGenIndex9 {
//         width: 100%;
//     }

//     #sctIndex9 {
//         button {
//             width: 40px;
//             height: 40px;
//             font-size: 1.8rem;
//         }

//         #ctnGenIndex9 {
//             grid-template-columns: 15% 70% 15%;
//         }

//         #imgAvisIndex {
//             height: auto;
//             top: 20%;
//         }
//     }
// }

// header
// header {
//     display: grid;
//     grid-template-columns: 30% 50% 20%;
//     align-items: center;
//     background-color: #000000;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//     width: 100%;
//     height: 8vh;
//     position: fixed;
//     z-index: 1000;

//     nav {
//         height: 100%;
//         display: flex;
//         align-items: center;
//     }
// }

// .logo {
//     display: flex;
//     justify-content: center;

//     img {
//         height: 70px;
//     }
// }

// nav ul {
//     list-style: none;
//     display: flex;
//     padding: auto;
//     justify-content: space-around;
//     width: 100%;
// }

// nav ul li {
//     margin: 0 10px;
// }

// nav ul li a {
//     color: #ffffff;
//     text-decoration: none;
//     font-size: 1.3rem;
//     font-family: 'montserrat', sans-serif;
// }

// .social-icons {
//     display: flex;
//     justify-content: center;
// }

// .social-icons a {
//     margin-left: 10px;
// }

// .social-icons a i {
//     color: #ffffff;
//     font-size: 20px;
// }

// #navMob {
//     display: none;
//     transition: 1s;
// }

// @media (max-width:700px) {
//     header {
//         grid-template-columns: 20% 0% 60% 20%;
//         padding-bottom: 10px;
//         padding-top: 10px;
//         top: -10px;

//     }

//     #moinHeader {
//         display: none;
//     }

//     #ulMob2 {
//         a {
//             display: flex;
//             gap: 5%;
//         }
//     }

//     #contH {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }

//     #ulDesk {
//         display: none;
//     }

//     .social-icons {
//         height: 8vh;
//         align-items: center;
//         transform: translateY(5px);
//         justify-content: end;

//     }

//     .l {
//         width: 30px;
//         height: 4px;
//         position: relative;
//         transform-origin: center;
//         transition: all 0.5s;
//         border-radius: 2px;
//         background: white;
//     }

//     .open .l1 {
//         transform: rotate(45deg);
//         top: 0px;
//     }

//     .open .l2 {
//         opacity: 0;
//     }

//     .open .l3 {
//         top: -9px;
//         transform: rotate(-45deg);
//     }

//     .l1 {
//         top: -5px;
//     }

//     .l2 {
//         top: 0px;
//     }

//     .l3 {
//         top: 5px;
//     }

//     #navMob {
//         display: none;
//         transition: 1s;
//         transform: translateY(-7px);
//     }

//     #liMob1,
//     #liMob5,
//     #liMob6 {
//         grid-column: 1/3;
//     }

//     #liMob5 {
//         grid-row: 3/4;
//     }

//     #liMob6 {
//         grid-row: 4/5;
//     }

//     .navMobActive {
//         display: block !important;
//         transition: 1s;
//         grid-column: 1/5;
//         height: 100vh;
//         grid-row: 2/3;
//         width: 100%;
//         background-color: rgb(0, 0, 0);

//     }

//     .ulMobActive {

//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         height: 100%;
//         padding: 0;
//         align-items: center;
//         gap: 12%;
//         transition: 1s;

//         li {
//             a {
//                 font-size: 1.8rem;
//             }
//         }

//     }

//     .ulMobActive2 {

//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-template-rows: 1fr 1fr 1fr 1fr;
//         height: 80%;
//         padding: 0;
//         align-items: center;
//         gap: 12%;
//         transition: 1s;

//         li {
//             display: block;

//             a {
//                 font-size: 1.8rem;
//             }
//         }

//     }

//     #liMob2,
//     #liMob3,
//     #liMob4 {
//         display: none;
//     }

//     .posGrilleMob1 {
//         grid-column: 2/3;
//         grid-row: 2/3;
//         transition: 1s;
//     }

//     .posGrilleMob2 {
//         grid-column: 2/3;
//         grid-row: 3/4;
//         transition: 1s;
//     }

//     .posGrilleMob3 {
//         grid-column: 2/3;
//         grid-row: 4/5;
//         transition: 1s;
//     }
// }

// footer
// footer {

//     a,
//     p {
//         color: white;
//         position: relative;
//         z-index: 6;
//     }

//     p {
//         font-family: 'montserrat', sans-serif;
//     }
// }

// #divGen1Footer {

//     display: grid;
//     grid-template-columns: 60% 40%;
//     height: 40vh;

//     >div {

//         img {
//             width: 40px;
//             height: 40px;
//             position: relative;
//             z-index: 6;
//         }
//     }
// }

// #ssCtnindex1 {
//     a {
//         font-size: 1.4rem;
//     }
// }

// #ssCtnindex2 {

//     a,
//     p {
//         text-align: center;
//     }
// }

// #ssCtnindex1 {
//     div {
//         display: flex;
//         align-items: center;
//         gap: 1%;
//         width: 70%;
//         margin: 10px auto;
//     }
// }

// #ctnSocialFooter {
//     justify-content: center;
// }

// #ctnSocialFooter {
//     display: flex;
//     justify-content: center;
//     gap: 2%;
// }

// section 2 footer
// footer {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: end;

//     >img {
//         width: 100%;
//         position: absolute;
//         height: 100%;
//     }
// }

// #divGen2Footer {
//     position: relative;
//     height: 80px;
//     width: 100%;
//     background-image: linear-gradient(to right, #b48f6d, #8a6756, #5d433e, #302424, #000000);

//     p {
//         color: white;
//         width: 100%;
//         text-align: center;
//         position: relative;
//     }
// }

// @media (max-width:700px) {

//     #divGen1Footer {
//         display: grid;
//         grid-template-rows: 70% 30%;
//         grid-template-columns: 1fr;
//         height: 80%;
//     }

//     #ssCtnindex1 {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }

//     #sctIndex3 {
//         gap: 0%;
//     }

//     #ctnIndex3_2 div:nth-child(3) {
//         margin-top: 25px;
//     }

//     .ssIndex3_1 {
//         p:nth-child(1) {
//             margin: 0;
//         }
//     }

//     .p2Index3,
//     .p4Index3,
//     .p6Index3 {
//         margin-top: 0 !important;

//     }

//     #ctnIndex3_2 {
//         div {
//             p:nth-child(1) {
//                 margin: 0;
//             }
//         }
//     }

//     section8
//     #ctnGen2Index8 {
//         img {
//             width: 25px;
//             height: 25px;
//         }

//         p {
//             font-size: 1.5rem;
//             text-align: center;
//         }
//     }

//     #ctnGen5Index8 {
//         display: none;
//     }

// }