@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@400;500;600;800&display=swap");
#sct1Rea {
  height: 100vh;
  display: grid;
  grid-template-rows: 70% 20%;
}
#sct1Rea p,
#sct1Rea h1 {
  position: relative;
  margin-left: 10%;
}
#sct1Rea h1 {
  border-bottom: 3px solid #B48F6D;
  font-size: 3.2rem;
  width: 50%;
  color: white;
  font-weight: 400;
}
#sct1Rea p {
  font-size: 1.8rem;
  width: 50%;
  color: white;
  font-weight: 600;
  margin-top: 0;
}

#fondRea1sct1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#fondRea2Sct1 {
  position: relative;
  width: 1291px;
  height: 64px;
}

#ctn1ReaSct1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ctnGen1ReaSct1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media (max-width: 1300px) {
  #sct1Rea h1 {
    font-size: 1.8rem;
    width: 70%;
    border: 0px;
  }
  #sct1Rea p {
    font-size: 1.2rem;
    width: 70%;
  }
  #sct1Rea #fondRea2Sct1 {
    position: relative;
    width: auto;
    height: auto;
  }
  #sct1Rea .borderB1 {
    border-bottom: 2px solid #B48F6D;
  }
  #sct1Rea .borderB2 {
    margin-left: 150px;
    border-bottom: 2px solid #B48F6D;
  }
}
#sct2Rea {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
}
#sct2Rea > p {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ctnGen1ReaSct2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px;
}

#ssCtn1GenReaSct2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ssCtn1GenReaSct2 img {
  position: absolute;
}
#ssCtn1GenReaSct2 h1,
#ssCtn1GenReaSct2 p {
  display: none;
  position: relative;
  font-size: 1rem;
  text-align: start;
  color: white;
}
#ssCtn1GenReaSct2 img:hover {
  filter: brightness(50%);
}
#ssCtn1GenReaSct2 img:hover ~ .close {
  display: block;
  transition: 1s;
}

#ctnGen2ReaSct2 p {
  text-align: start;
  margin-left: 8%;
  font-size: 1.5rem;
}

#ctnGen2ReaSct2 {
  display: flex;
}
#ctnGen2ReaSct2 svg {
  width: 40px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  #sct2Rea {
    height: 250vh;
    grid-template-rows: 15% 70% 15%;
  }
  #ctnGen1ReaSct2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 10px;
    gap: 5%;
  }
  #ctnGen2ReaSct2 {
    align-items: center;
  }
}

/*# sourceMappingURL=realisation.css.map */
