@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@600;800&display=swap");
#sct1Service1 {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: black;
}
#sct1Service1 h1 {
  font-weight: 500;
}

.ctnGen1Service1Sct1 {
  display: flex;
  align-items: end;
  justify-content: center;
}
.ctnGen1Service1Sct1 img {
  position: absolute;
  top: 17%;
  margin: auto;
}
.ctnGen1Service1Sct1 h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.ctnGen2Service1Sct1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  #sct1Service1 {
    grid-template-rows: 25% 75%;
  }
  .ctnGen1Service1Sct1 {
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .ctnGen1Service1Sct1 img {
    position: absolute;
    top: 20%;
    width: 80%;
    margin: auto;
  }
  .ctnGen1Service1Sct1 h1 {
    color: white;
    font-size: 2rem;
    margin-left: 10%;
    text-align: start !important;
  }
}
.sct2Service {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}
.sct2Service > img {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ctnGen1Service {
  display: flex;
  align-items: center;
  margin-left: 8%;
  position: relative;
}
.ctnGen1Service img {
  height: 40px;
}

.sctnGen2Service {
  position: relative;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sctnGen2Service div {
  display: flex;
  flex-direction: column;
}
.sctnGen2Service div img {
  width: 330px;
  margin: auto;
}
.sctnGen2Service div h3 {
  text-align: center;
}
.sctnGen2Service div p {
  width: 80%;
  margin: auto;
  text-align: center;
}

.sctnGen3Service {
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .sct2Service {
    height: 250vh;
    gap: 2%;
  }
  .sctnGen2Service {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .sctnGen2Service {
    height: auto;
    gap: 10%;
  }
  .sctnGen3Service {
    transform: translateY(200px);
  }
}
.sct3Service {
  height: 100vh;
}

.ctnGen1ServiceSct3 {
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ssctnGen1ServiceSct3 {
  display: flex;
  justify-content: center;
}
.ssctnGen1ServiceSct3 img {
  width: 80%;
  height: 70%;
}

.ssctnGen2ServiceSct3 {
  display: grid;
  grid-template-rows: 20% 80%;
}

.ssSs1ctnGen2ServiceSct3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ssSs1ctnGen2ServiceSct3 p {
  font-size: 1.5rem;
}
.ssSs1ctnGen2ServiceSct3 img {
  position: absolute;
}

.ssSs2ctnGen2ServiceSct3 {
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 90%;
  margin: 0px auto;
}

.itemCtnGen2ServiceSct3 {
  display: flex;
  align-items: center;
}
.itemCtnGen2ServiceSct3 img {
  height: 40px;
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .ctnGen1ServiceSct3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/*# sourceMappingURL=services.css.map */
